﻿@using CourseProject.Core.Dtos
@using CourseProject.Core.Entities;
@model ProductDto;

@{
    ViewData["Title"] = "Редактирование продукта";
}

<div class="text-center">
    <h1 class="display-4">Изменение продукта</h1>
</div>

<form method="post">
  <div class="mb-3">
    <input type="hidden" name="id" value="@(Model.Id)"/>
    <label for="nameInput" class="form-label">Название</label>
    <input type="text" class="form-control" name="name" id="nameInput" value="@(Model.Name)">
  </div>
  <div class="mb-3">
    <label for="skuInput" class="form-label">Артикул</label>
    <input type="text" class="form-control" name="sku" id="skuInput" value="@(Model.Sku)">
  </div>
  <div class="mb-3">
    <label for="qtyInput" class="form-label">Количество товара</label>
    <input type="text" class="form-control" name="quantity" id="qtyInput" value="@(Model.Quantity)">
  </div>
  <div class="mb-3">
    <label for="priceInput" class="form-label">Цена</label>
    <input type="text" class="form-control" name="price" id="priceInput" value="@(Model.Price)">
  </div>
  <button type="submit" class="btn btn-primary">Изменить продукт</button>
</form>
