@using CourseProject.Core.Dtos
@model IReadOnlyCollection<ProductListItemDto>

@{
    ViewData["Title"] = "Список продуктов";
}

<div class="text-center">
    <h1 class="display-4">Список продуктов</h1>
</div>

<div style = "padding-bottom: 5px; display: inline-block">
    <a asp-action="Create" class="btn btn-primary">Создать продукт</a> 
</div>

<div style="display:flex; flex-direction:column; float:right">
    <form asp-action="ImportProducts" asp-controller="Home" method="post" style="display:inline-block; padding-bottom:4px" enctype="multipart/form-data">
        <div style="display:inline-block"><input type="file" name="uploadedFile" class="btn btn-primary btn-sm"></div>
        <div style="display:inline-block"><input type="submit" value="Импорт" class="btn btn-primary"></div>
    </form>

    <form asp-action="ExportProducts" asp-controller="Home" method="get">
        <div style="display:inline-block"><input type="submit" value="Экспорт" class="btn btn-primary" style="width:423%"></div>
    </form>
</div>

<div>
    <form method="get">
        <select name="sortType" class="sortSubmit" style="display: inline-block">
            <option value="Id">Id</option>
            <option value="Name">Название</option>
            <option value="Sku">Артикул</option>
            <option value="Quantity">Количество</option>
            <option value="Price">Цена</option>
            <option value="Total">Общая стоимость</option>
        </select>
        <div class="input-group" style="padding-top: 10px">
            <input name="searchString" class="form-control rounded" type="text" placeholder="Поиск.." aria-label="Search" aria-describedby="search-addon"/>
            <input type="submit" class="btn btn-outline-primary" value="Поиск">
        </div>
    </form>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название</th>
      <th scope="col">Артикул</th>
      <th scope="col">Количество</th>
      <th scope="col">Цена</th>
      <th scope="col">Стоимость</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
        @foreach(var dto in Model!)
        {
            <tr>
              <th>@(dto.Id)</th>
              <td>@(dto.Name)</td>
              <td>@(dto.Sku)</td>
              <td>@(dto.Quantity)</td>
              <td>@(dto.Price) ₽</td>
              <td>@(dto.Total) ₽</td>
              <td><a asp-action="Edit" asp-route-id="@(dto.Id)" class="btn btn-info">Редактировать</a></td>
              <td><a asp-action="Delete" asp-route-id="@(dto.Id)" class="btn btn-danger">Удалить</a></td>
            </tr>
        }
    </tbody>
</table>
